black==25.1.0
click==8.2.1
dotenv==0.9.9
numpy==2.3.1
peewee==3.18.1
pre_commit==4.3.0
pydantic==2.12.5
pyinstaller==6.18.0
pytest==8.4.1
pytest-cov==7.0.0
pytz==2025.2
questionary==2.1.1
selenium==4.34.0
webdriver-manager==4.0.2
